body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #000;
  font-family: monospace;
}

.main-container {
  width: 100%;
  height: max-content;
  display: flex;
  justify-content: center;
  align-items: start;
}

.left-nav {
  flex: 1;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.116);
  position: fixed;
  left: 0;
  top: 0;
}

.left-nav a {
  height: 150px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.116);
  text-decoration: none;
  transition: all 0.4s;
}

.left-nav a:hover {
  height: 148px;
  width: 100%;
  border: 1px solid white;
}

.left-nav span {
  font-family: monospace;
  font-size: 22px;
  color: white;
  text-align: center;
  padding: 10px;
}

.right-content {
  flex: 10;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
  float: right;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.right-content::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.right-content {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.hero-section {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 2rem;
}

.hero-section h1,
h3 {
  color: white;
}

#name {
  font-size: 3rem;
}

#title-occupation {
  font-size: 1.5rem;
}

.avatar {
  width: 30rem;
  height: 30rem;
  border-radius: 50%;
  margin-top: 3rem;
  background-image: url("/assets/image.jpg");
  background-position: -160px;
}

.about-section {
  width: 100%;
  height: fit-content;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-section h2 {
  width: 70%;
  height: fit-content;
  text-align: left;
  font-size: 30px;
}

.hrouter {
  width: 70%;
  height: fit-content;
  text-align: left;
}

.line {
  width: 180px;
  height: 20px;
  border-top: 3px solid white;
}

.about-section h3 {
  width: 70%;
  height: fit-content;
  text-align: left;
  font-size: 30px;
}
.about-section p {
  width: 70%;
  height: fit-content;
  text-align: justify;
  font-size: 20px;
  opacity: 0.6;
}

.outer {
  width: 70%;
  height: 40px;
  background-color: white;
}

.inner {
  height: 40px;
  background-color: gray;
}

.about-section hr {
  height: fit-content;
}

.button-container {
  width: 70%;
  height: fit-content;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.download-resume {
  height: 4rem;
  width: 15rem;
  margin-top: 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
}

.download-resume:hover {
  height: 4rem;
  width: 15rem;
  margin-top: 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
  background-color: transparent;
  color: white;
  border: 2px solid white;
  transition: all 0.5s;
}

.download-resume span {
  font-family: monospace;
  font-size: 15px;
}

.projects-section {
  width: 100%;
  height: fit-content;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}

.projects-section h2 {
  width: 70%;
  height: fit-content;
  text-align: left;
  font-size: 30px;
}

.projects-section h3 {
  width: 70%;
  height: fit-content;
  text-align: left;
  font-size: 20px;
}

.games-list {
  width: 70%;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.projcard {
  height: 500px;
  max-height: 500px;
  width: 400px;
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.image-snapshot {
  flex: 3;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-snapshot img {
  width: 80%;
  height: 80%;
  object-fit: contain;
}

.details {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

#title {
  text-decoration: none;
  color: black;
  text-align: justify;
  align-self: flex-start;
  padding-left: 5px;
  font-size: 20px;
}

#description {
  text-decoration: none;
  color: black;
  text-align: justify;
  padding: 10px;
}

.contact-section {
  width: 100%;
  height: 500px;
  border: 1px solid white;
}
